version: '3'

networks:
    loki:

services:
    loki:
        image: grafana/loki:2.6.0
        command: -config.file=/etc/loki/config.yml
        volumes:
            - ./loki-config.yml:/etc/loki/config.yml
        ports:
            - '3100:3100'
        networks:
            - loki

    promtail:
        image: grafana/promtail:2.6.0
        command: -config.file=/etc/promtail/config.yml
        volumes:
            - ./promtail-config.yml:/etc/promtail/config.yml
            - /var/log:/var/log
        networks:
            - loki

    grafana:
        image: grafana/grafana:latest
        ports:
            - '3000:3000'
        networks:
            - loki
